/* @font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap');

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
}

body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  background: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
	font-size: 1.4vw;
  /*user-select: none;  Не даёт взаимодействовать с текстом */
}

/*Меняет цвет выделения*/
::selection {
  background-color: #F5A925;
  color: #000000;
}
  
input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
background: none;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: 400;
}

.bigred {
font-size: 2vw;
color: red;
}

  
* {
  color: #212123;
}


.egup_ads {
  position: relative;
}

.opacity {
  opacity: 1;
}

header {
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo_Newslab {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 120%;

  align-items: center;
  text-align: center;

  color: #F7F7F7;
  cursor: pointer;
}

.wallpaper {
  width: 100%;
  margin-bottom: 0.6w;
  pointer-events: none;
}

.grand_logo {
  width: 47%;
  position: absolute;
  top: 25%;
  pointer-events: none;
}

.foam_and_gun {
  width: 100%;
  position: absolute;
  top: 1.5vw;
  pointer-events: none;
  animation: foam_and_gun 1.2s linear;

}

  
@keyframes foam_and_gun {
  0% { transform: translateX(-5vw);}
  100% {  transform: translateX(0vw);}
}


.rocket {
  position: fixed;
  bottom: 1vw;
  right: 0.82vw;
  width: 3.3vw;
  cursor: pointer;
  transition: all 0.2s ease;
  display: none;
} 

.rocket:hover {
transform: scale(1.05);

} 



.line {
  border: 0.02vw solid #F5A925;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2vw;
}

.header_text span {
  opacity: 0;
}

.header_text {
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #212123;
  position: relative;


  margin-top: 0.9vw;
  margin-bottom: 0.5vw;
}

.idea_text {
  position: absolute;
  left: 20%;
  top: 52%;
  width: 7vw;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Навигация                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.tabs {
  display: flex;
  justify-content: center;
  /* background: #EBEBEB; */
  gap: 0.2vw;
  padding: 2vw 0.5vw;
  width: fit-content;
  border-radius: 1.1vw;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  z-index: 1;

}

.tablink {
  padding: 0.7vw 1.6vw;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0.9vw;
  color: #4B4B4B;
  transition: all 0.3s ease;
  flex-grow: 1;
  justify-content: center;
  border: #d5d5d5 solid 0.01vw;
}

.tablink:hover {
  background-color: #d9d9d9;
}

.tablink.active {
  background-color: #fdfdfd;
  padding: 0.7vw 2.5vw;
}

.tablink_all {
  flex-grow: 1;
}

.points_of_growth_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.egup-containers {
  display: flex;
  flex-direction: column;
}

.egup_card {
  width: 90vw;

  display: flex;
  padding: 3vw;
  margin-bottom: 3vw;
  gap: 3vw;
  cursor: pointer;

  background: #fdfdfd;
  border-radius: 4vw;


  box-shadow: 0vw 0vw 8vw rgba(0, 0, 0, 0.05);
  transition: background-color 2s ease;
  animation: egup_card 1s linear;
}

/* .egup_card:hover {
} */

  
@keyframes egup_card {
  0% { transform: translateX(-2vw);}
  100% {  transform: translateX(0vw);}
}

.design_decorate {
  width: 9vw;
  right: 0%;
  top: -7%;
  position: absolute;
  animation: design_decorate 0.2s linear;
}
/* 
@keyframes design_decorate {
  0% { transform: scale(0.95);}
  100% { transform: scale(1);}
} */

.egup_card_text_mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.egup_img{
  width: 60vw;
  min-height: 34vw;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1.8vw;

  animation: egup_img 1s linear;

}

  
@keyframes egup_img {
  0% { filter: grayscale(1)}
  100% { filter: grayscale(0);}
}

.egup_card_text{
  width: 50%;
  padding: 2vw 0vw 0vw 2vw;

}

.egup_h4{
  font-family: 'Montserrat Alternates';
  font-weight: 800;
  font-size: 3.3vw;
  line-height: 115%;
  
  color: #212123;
}

.egup_h5 {
  font-weight: 420;
  font-size: 1.5vw;
  line-height: 140%;
  color: #212123;
  margin-top: 2vw;
  margin-bottom: 2.4vw;
}

.egup_button{

  background-color: #212123;
  display: flex;
  justify-content: center;

  border-radius: 16vw 2vw 4vw 2vw;
  text-align: center;
  cursor: pointer;
  width: 10vw;
  height: 10vw;
  align-self: flex-end;

  transition: background-color 0.5s ease;
  margin-left: auto;
}

.egup_button:active {
  transform: scale(0.97);
 }

.egup_button:hover{
  border: 0.25vw solid #FF9000; /* задаем стиль, толщину и цвет границы */
  padding: 1vw; /* добавляем отступ внутри элемента */
}

.design_button{
  width: 7.8vw;
}

.egup_button_mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  
  background: -webkit-linear-gradient(154deg, #ffb703,#ffb703,#fb5607);background: linear-gradient(154deg, #ffb703,#ffb703,#fb5607);
  color: #fff;
  transition: background-color 0.2s ease;
}

.egup_button_mobile:active {
  transform: scale(0.97);
 }

.egup_button_mobile:hover{
  background: -webkit-linear-gradient(154deg, #ffb703,#ffb703,#fb5607);background: linear-gradient(154deg, #ffb703,#ffb703,#fb5607);
}

.egup_button_text,
.egup_button_text:visited {
text-decoration: none;
color: #fff;
}

.egup_button_text:hover {
  text-decoration: none;
  color: #fff;
}


.egup_button_mobile {
  display: none;
  padding: 2vw 1vw;
  gap: 1.54vw;
  border-radius: 2vw;
}

.egup_button_text {
font-size: 2.3vw;
}


.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;

  color: #212123;
  cursor: pointer;
}

.vk_logo {
  width: 2.2vw;
}

.ok_logo {
  width: 2.2vw;
}

.logos_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logos_mobile {
  display: flex;
  gap: 4vw;
}

.logo_social {
  cursor: pointer;
}

.logo_footer_vk {
  display: flex;
  align-items: center;
  position: relative;
}

.logo_footer_vk:hover .vk_stroke {
  opacity: 1;
  transition: all 0.5s ease;
}

.logo_footer_ok {
  display: flex;
  align-items: center;
  position: relative;
}

.logo_footer_ok:hover .ok_stroke {
  opacity: 1;
  transition: all 0.5s ease;
}


.vk_stroke {
  position: absolute;
  width: 3.4vw;
  top: -35%;
  left: -7%;
  opacity: 0;
}

.ok_stroke {
  position: absolute;
  width: 3vw;
  top: -10%;
  left: -7%;
  opacity: 0;
}

.authors {
  line-height: 140%;
  position: relative;
}

.advertising {
  position: absolute;
  width: 16vw;
  top: -67%;
  left: -10%;
  opacity: 0;
  pointer-events: none;
}

.authors span {
  line-height: 140%;
}


.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  font-size: 1vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-weight: 500;
  letter-spacing: -0.01vw;
  z-index: 1;

}

.authors:hover .advertising {
  opacity: 1;
  transition: all 0.5s ease;
}

footer {
  display: flex;
  justify-content: center;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Скроллбар                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


::-webkit-scrollbar {
  width: 0.5vw; /* Ширина скроллбара */
  background-color: transparent; 
  transition: all 0.3s ease;
}


::-webkit-scrollbar-thumb {
  background-color: #F5A925; /* Цвет полосы прокрутки при наведении */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #F5A925; /* Цвет полосы прокрутки при наведении */
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Анимация загрузки                                */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 9999;
}

#loader {
  border: 0.3vw solid #F7F7F7;
  border-top: 0.3vw solid #F5A925;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Адаптив                                          */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media screen  and (max-width: 576px) {

::-webkit-scrollbar {
  display: none;
}

.rocket {
display: none;
} 

.logo_Newslab {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #F7F7F7;
  cursor: pointer;
}

.wallpaper {
  width: 200%;
  pointer-events: none;
}

.foam_and_gun {
  width: 100%;
  position: absolute;
  top: 43vw;
  pointer-events: none;
  animation: foam_and_gun 1.2s linear;
  display: none;
}
  
@keyframes foam_and_gun {
  0% { transform: translateX(-5vw);}
  100% {  transform: translateX(0vw);}
}

.grand_logo {
  width: 70%;
  position: absolute;
  top: 30%;
  pointer-events: none;
}

.header_text {
  font-weight: 500;
  font-size: 3vw;
  line-height: 120%;
  margin-top: 2.5vw;
  padding: 3vw;
}

.idea_text {
  position: absolute;
  left: 22.5%;
  top: 56%;
  width: 12vw;
}

.design_decorate {
  width: 12vw;
  right: 0%;
  top: -7%;
  position: absolute;
  animation: design_decorate 0.2s linear;
}

.tablink {
  padding: 3vw 8vw;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 1.4vw;
  color: #4B4B4B;
  transition: all 0.3s ease;
  border: #dfdfdf solid 1px;
}

.tablink.active {
  background-color: #fdfdfd;
  padding: 3vw 8vw;
  /* box-shadow: 0vw 0.15vw 0.15vw #CBCBCB; */
}

/* .tablink_all {
  display: none;
} */

.tabs {
  border-radius: 2vw;

  gap: 1.2vw;
  padding: 2vw 0.5vw;
  width: 90%;
  transition: all 0.3s ease;
  margin-bottom: 4vw;
}

.egup_card {
  animation: egup_card 1.2s linear;

}
  
@keyframes egup_card {
  0% { transform: translateX(0vw);}
  100% {  transform: translateX(0vw);}
}


.egup_img{
  width: 60vw;
  height: 40vw;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1.8vw;
}

.egup_button {
  background-color: #212123;
  display: none;
  justify-content: center;
  border-radius: 17vw;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 7vw;
  align-self: center;
  transition: background-color 0.5s ease;
  align-items: flex-start;
}

.egup_button:hover{
  border: 0vw solid #FF9000; /* задаем стиль, толщину и цвет границы */
  padding: 0vw; /* добавляем отступ внутри элемента */
}

.egup_button_mobile {
  display: block;
}

.egup_h5 {
  font-size: 2.1vw;
}

.line {
  border: 0.02vw solid #F5A925;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3vw;
}


.footer {
  width: 90%;
  align-items: flex-start;
  font-size: 2.6vw;
  flex-direction: column;

  gap: 3vw;
}

.logo {
  font-weight: 600;
  font-size: 6vw;
}


.logo_social {
  display: none;
}

.logos_footer {
  font-size: 1vw;
  gap: 4vw;
  flex-direction: row;
  margin-left: 4vw;
  margin-left: 0 auto;
}

.vk_logo {
  width: 7vw;
}

.ok_logo {
  width: 7vw;
}

.vk_stroke {
  display: none;
}

.ok_stroke {
  display: none;
}

.advertising {
  display: none;
}

}

